<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.just_do_it">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.login_activity"></activity>
        <activity android:name=".cadastro.CadastroThreeActivity" />
        <activity android:name=".cadastro.CadastroTwoActivity" />
        <activity android:name=".view.evento.DetalhesEventoActivity" />
        <activity android:name=".view.evento.ListaEventosActivity" />
        <activity android:name=".view.evento.CadastroEventoActivity" />
        <activity android:name=".cadastro.CadastroOneActivity" />
        <activity android:name=".view.MainActivity" />
        <activity android:name=".view.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>